{
    "env": {
      "browser": true,
      "es2024": true
    },
    "root": true,
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "plugins": [
      "react"
    ],
    "ignorePatterns": ["webpack.*.js"],
    "rules": {
      // 在这里添加你的规则配置
    }
  }